<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="user" class="com.bylearning.spring.pojo.User" init-method="initMethod" destroy-method="destroyMethod">
        <property name="id" value="1"/>
        <property name="username" value="学生1"/>
        <property name="password" value="123456"/>
        <property name="age" value="20"/>
    </bean>

    <bean id="myBeanPostProcessor" class="com.bylearning.spring.process.MyBeanPostProcessor"/>
</beans>